@font-face{
	font-family: "SourceCodePro";
	src: url("SourceCodePro-VariableFont_wght.ttf") format("truetype"); 
}

h1, h2, h3, h4, h5, h6, body, p, a {
	color: white;
	font-family: "SourceCodePro";
}

body{
	background: linear-gradient(90deg, #334851  0%,#c3dbc5  100%);
	margin-left: 5%;
	margin-right: 5%;
}

#portfolio{
	position: relative;
	height: 100%;
	display: block;
	width: 100%;
}

#Contact-Information-Card{
	display: flex;
	height: 4vw;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #000000;
	margin-top: 2%;
	background-color: #0d1b1e
}

#Links{
	display: flex;
	height: 100%;
	max-width: 50%;
	align-items: center;
	align-content: center;
	margin-left: auto;
}

#Links #Logo{
	display: flex;
	max-width: 100%;
	flex-wrap: nowrap;
	margin-right: 3vw;
	align-content: center;
	height: 50%;
}

#Links #logoImg{
	object-fit: contain;
}

#Name{
	margin-top: 0.5vw;
	display: inline-flex;
	font-size: 2vw;
	font-family:"SourceCodePro";
	margin-left: 10%;
	color: #ffffff
}

#cvSection{
	padding: 1px;
	margin-top: 1vw;
	border-radius: 10px;
	background-color: #22343a;
}

#cvSection h2{
	margin-top: 2%;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	margin-left: 5%
}

#cvSection p{
	margin-left: 5%;
	margin-right: 1%;
	text-align: left;

}
